<head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="cli.js"></script>

  </head>
  
  <body>
  
  <div class="terminal-window">
    <header>
      <div class="button red"></div>
      <div class="button yellow"></div>
      <div class="button green"></div>
    </header>
    <div id="terminal">
      <p><span class="green">(===||:::::::::::::></span> - you're in cli! type `help` to get started.</p>
        <p class="hidden">
          <span class="prompt">
            <span class="root">root</span>
            <span class="tick">❯</span>
          </span>
          <span contenteditable="true" class="input"></span>
        </p>
    </div>
  </div>
  
  <div class="footer">
    <p> Made with ❤ </p>
    <p>Site code can be found <a class="site-code" target="_blank" href="#">here</a></p>
  </div>
  
  </body>